<%= link_to 'Nuevo desarrollador', new_developer_path, class: "btn btn-outline-primary my-3" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cargo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <th scope="row"><%= developer.id %></th>
        <td><%= developer.name %></td>
        <td><%= developer.position %></td>
        <td>
          <%= link_to 'Mostrar', developer, class: "btn btn-outline-dark btn-sm m-1" %>
          <%= link_to "Editar", edit_developer_path(developer), class: "btn btn-outline-dark btn-sm m-1" %>
          <%= link_to "Borrar", developer_path(developer), method: :delete, data: { confirm: "¿Está seguro?" }, class: "btn btn-outline-danger btn-sm m-1"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
